%li
  .day.text-center
    .row
      = day
    .row
      - job_statuses.each do |job|
        .row.job.text-center
          = link_to job.job.title, job_path(job.job.id)
          - if policy.admin? 
            = job.string
          - else
            %i{:class => decoration(job)}
