%li
  .div{:class => today}
    .row.text-center
      = day
    .row
      - job_statuses.each do |job|
        .row.job.text-center
          - if policy.admin?
            = link_to job.job.title, job_path(job.job.id)
            .fa-pull-right  
              = job.application
          - else
            = link_to job.job.title, overview_job_application_path(job.application.id)
            .fa-pull-right
              %i{:class => decoration(job)}
