%main{:role => "main"} 
.row
  %h3
    Your Jobs

.row
  You have applied for:
  %ul.mobile-list
    = cell("my/cell/applications", nil, status: "Apply")
.row
  You have been hired for:
  %ul.mobile-list
    = cell("my/cell/applications", nil, status: "Hire")
.row
  You have been rejected for:
  %ul.mobile-list
    = cell("my/cell/applications", nil, status: "Reject")