%table{class: "container", bgcolor: "#333333", aligh: "center", widht: "300px"}
  %tbody
    %tr
      %td{class: "float-center", align: "center", valign: "top"}
        %table{class: "row"}
          %tbody
            %tr
              %th{class: "small-6 medium-6 large-6 first columns"}
                %table
                  %tr
                    %th
                      %h6
                        PromoJob
              %th{class: "small-6 medium-6 large-6 last columns"}
                %table
                  %tr
                    %th 
                      %h6
                        %ul{class: "contact"}
                          %li
                            %i{class: "text-left"}
                              Address
                          %li
                            %i{class: "text-left"}
                              +658 1093 19283
                          %li
                            %i{class: "text-left"}
                              promojob@promojob.com
