.log-in-form {
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 6px; }

.day{
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 6px; 
}

.hire{
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 6px; 
  background-color: green;
}

.apply{
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 6px; 
  background-color: yellow;
}

.reject{
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 6px; 
  background-color: red;
}