%main{:role => "main"} 
.row
  %h4
    - if current_page?(:action=>"show", :controller=>"job_applications", :status=>"Apply")
      Applied Jobs
    - else
      - if current_page?(:action=>"show", :controller=>"job_applications", :status=>"Hire")
        Hired Jobs
      -else
        Rejected Jobs

.row
  You've got #{total} jobs.

.row
  %ul.mobile-list
    = cell("jobApplication/cell/job_application", collection: model)
    